body {
	width: 800px;
	margin: auto;
	div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	overflow: none;
	
		img {
		width: 30%;

			}
					
	}
}

@media screen and (max-width: 781px){
  .container {
    -webkit-flex-direction: columns;
    flex-direction: columns;
  }
}